<h1><%= @task[:title] %></h1>
<h2><%= @task[:details] %></h2>
<h2>Completed = <%= @task[:completed] %></h2>

<%= link_to "Edit", edit_path %>
<%= link_to "See all tasks", tasks_path %>
<%= button_to "Delete", task_path(@task), method: :delete, confirm: "Are you sure?"%>
